

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.Datos {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #5c483a; /* Color de enfoque */
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5c483a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5c483a; /* Color al pasar el mouse */
}

.error {
    color: red;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 14px;
    display: none; /* Ocultar por defecto */
}

.success {
    color: green;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 14px;
    display: none; /* Ocultar por defecto */
}

/* Responsive */
@media (max-width: 600px) {
    .Datos {
        padding: 15px;
    }

    button {
        font-size: 14px;
    }
}
