/* Contenedor principal que centra el flipbook en la pantalla */
.flipbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  
  }
  
  /* Estilo para las páginas individuales del flipbook */
  .page {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    height: 100%;
    border-radius: 5px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  p {
    margin: 0;
    font-size: 16px;
  }
  
  /* Estilo especial para la portada */
  .cover {
    background-image: url(src/img/portadalibro3.jpg);
  }
  
  .logo {
    width: 300px;
    margin-top: 110px;
    height: auto;
    filter: invert(100%);
  }
  
  