.maincontainer{
  margin-top: 80px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 230px;   /* Fixed width */
  height: 345px;  /* Fixed height */
  margin: 10px;
  text-align: center;
  position: relative;
}

.card > a {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05); /* Añade un efecto de hover */
  transition: transform 0.6s; /* Suaviza la transición del hover */
}

.card__background {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.card__profile-icon {
  top: 65px; /* Adjusted to fit card's new dimensions */
  width: 130px; /* Slightly smaller profile */
  border-radius: 100%;
  position: absolute;
  
  left: 50%;
  transform: translateX(-50%);
  border: 4px solid #fff;
}


.card__content {
  padding-top: 75px;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  position: relative;
}

.card__description {
  font-size: 0.8rem;
  color: #666;
  font-weight: 500;
  margin-top: -10px;
}

.titulocards{
  text-align: center;
  font-family: 'Hello Bonia Serif', sans-serif;
}


@media (max-width: 500px) {
  .container-cards {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
  }
  .card{
    width: 100px;   /* Fixed width */
    height: 160px; 
  }
  .card__background {
    width: 100%;
    height: 50px;
    object-fit: cover;
  }
  .card__profile-icon {
    top: 25px; /* Adjusted to fit card's new dimensions */
    width: 50px; /* Slightly smaller profile */
    border-radius: 100%;
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid #fff;
  }
  .card__content {
    padding-top: 5px;
  }
  .card__title {
    font-size: 0.6rem;
    font-weight: 700;
    margin-top: 20px;
    position: relative;
  }
  .card__description {
    font-size: 0.4rem;
    color: #666;
    font-weight: 500;
    margin-top: -10px;
  }
}





