.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #edebeb;
  border-radius: 10px;

  padding: 50px;
  max-width: 1100px;
  margin: 120px auto;
  
}

.info-box {
  flex: 1;
  text-align: left;
}

.contact-info {
  margin: 10px 0;
  font-size: 16px;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-button {
  padding: 12px;
  background-color: #3c3b3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #d2d2d2;
}

  
  