.footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.logofooter{
    width: 100px;
}

.derechos{
    color: white;
}