*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.home-page {
  position: relative;
  width: 100%;
  height: 100vh; /* Asegura que la página ocupe toda la altura de la pantalla */
  overflow: hidden; /* Evita que haya desbordamiento de contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar en el eje vertical */
  align-items: center; /* Centrar en el eje horizontal */
  padding: 0;
  margin: 0;
}

/* Imagen de fondo */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Asegura que cubra todo el ancho de la pantalla */
  height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  object-fit: cover; /* Hace que la imagen cubra el área completa sin distorsión */
  z-index: -1; /* Mantiene la imagen detrás del contenido */
  filter: brightness(50%);
}

@media (max-width: 768px) {
  .background-video {
      height: auto; /* Permitir que la altura se ajuste automáticamente */
      top: 50%; /* Mueve la imagen al centro verticalmente */
     
  }


}


  
  /* Estilos previos para las imágenes y texto */
  .imglogohome {
    max-width: 70%;
    height: auto; /* Mantener proporción */
  margin: 20px auto; 
    margin-top: 140px;
  }


  
  .imglogohomecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .parrafohome {
    font-size: 20px;
    color: #dad7d7;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    .parrafohome {
        font-size: 1.5rem; /* Reduce el tamaño del texto en pantallas pequeñas */
    }
}
  
  /* Imagen Sol */
  .solhome {
    max-width: 60%; /* Ajusta el tamaño para pantallas más grandes */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0; /* Elimina los márgenes */
    filter: drop-shadow(0 7px 8px rgba(0, 0, 0, 0.5)); /* Añade una sombra */
    position: absolute; /* Posiciona la imagen de forma absoluta */
    bottom: 0; /* Coloca la imagen al final de la pantalla */
    right: 0; /* Alinea la imagen al borde derecho */
    top: 150px;
}

/* Ajustes para pantallas más pequeñas (mobile) */
@media (max-width: 768px) {
    .solhome {
        max-width: 50%; /* La imagen ocupa todo el ancho en pantallas pequeñas */
    
        margin-top: 30px; /* Mantén el margen superior */
    }
}

  
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  
  /*carrusel*/
  .carrusel{
    margin-top: 20px;
  }
  .parallax {
    background-image: url('src/img/textoadi4.png');
    height: 540px; /* Ajusta el tamaño que desees */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-item {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa semitransparente */
    z-index: 0; /* Coloca la capa por encima de la imagen */
  }
  .carousel-item img {
    z-index: 0; /* Imagen en el fondo */
  
  }
  .caption-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0; /* Asegura que el texto esté por encima de la capa oscura */
    width: 100%;
  }
  .caption-content {
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
  }
  .carousel-control-prev,
  .carousel-control-next {
    z-index: 1; /* Por encima de la superposición */
  }
  .carousel-item img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 400px; /* Puedes ajustar esta altura según tus necesidades */
    object-fit: cover; /* Corta la imagen para llenar el área sin deformarla */
  }


  .videoanuncio{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para asegurar que cubra toda la pantalla */
    z-index: -1; /* Asegura que el video esté detrás del contenido */
    margin-top: 140px;
  }


  
/* Importa la fuente */

@import url('https://fonts.cdnfonts.com/css/frostbites');
.titulotextobajohome {
  font-family: 'Frostbites', sans-serif;
                                                
    text-align: center; 
    font-size: 80px;
    color: #171616;
    text-align: center;
    margin-top: 40px;
 
}

                                       
