#root {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  body{
    background-color: #511b1b;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
    
  }

.imglogohome{
    width: 800px;
    margin-top: 85px;
    margin-left: 8%;
  }
  
  .parrafohome{
    color: white;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
    margin-left: -10%;
  }
  
  .carrusel{
    margin-top: 80px;
  }


  /*IMAGEN SOL HOME*/
.solhome {
    margin-left: 893px;
    margin-top: -385px;
    filter: drop-shadow(0 7px 8px rgba(0, 0, 0, 0.5));
    z-index: 1; /* Asegura que la imagen esté por debajo */
    position: relative; /* Asegura que el z-index funcione correctamente */
  }


/*CARDS DEBAJO DE CARRUSEL*/
#cardHome1{
    background-color: transparent;
    border-color: rgb(181, 160, 106);
    width: 350px;
    border-radius: 130px;
    
  }
  

  #cardHome2{
    background-color: transparent;
    border-color: rgb(181, 160, 106);
    width: 350px;
    border-radius: 130px;
    transform: rotate(90deg);
  }

  #cardHome3{
    background-color: transparent;
    border-color: rgb(181, 160, 106);
    width: 350px;
    border-radius: 130px;
    transform: scaleX(-1);
  }

/*TEXTO DENTRO DE CARD*/
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

