@import url('https://fonts.cdnfonts.com/css/bacasime-antique');
@import url('https://fonts.cdnfonts.com/css/hello-bonia-serif');
@import url('https://fonts.cdnfonts.com/css/frostbites');
*{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

.home-page {
  position: relative;
  width: 100%;
  height: 100vh; /* Asegura que la página ocupe toda la altura de la pantalla */
  overflow: hidden; /* Evita que haya desbordamiento de contenido */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar en el eje vertical */
  align-items: center; /* Centrar en el eje horizontal */
  padding: 0;
  margin: 0;
}

/* Imagen de fondo */
.background-video {

  width: 100vw; /* Asegura que cubra todo el ancho de la pantalla */
  height: 100vh; /* Asegura que cubra toda la altura de la pantalla */
  background-image: url('/src/img/Pure.jpg'); /* Cambia esto a la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra el área completa sin distorsión */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  filter: brightness(50%); /* Aplica el filtro de brillo */
  z-index: -1; /* Mantiene la imagen detrás del contenido */
}
@media (max-width: 600px) {
  .background-video {
    height: 100vh; /* Mantiene la altura en pantallas pequeñas */
    background-size: cover; /* Asegura que la imagen aún cubra el área completa */
  }

}


  
  /* Estilos previos para las imágenes y texto */
  .imglogohome {
    max-width: 70%;
    height: auto; /* Mantener proporción */
  margin: 20px auto; 
    margin-top: 140px;
  }

  @media (max-width: 768px) {
    .imglogohome {
        max-width: 90%;
        margin-top: -40%;
    }
}
  
  .imglogohomecenter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .parrafohome {
    font-size: 20px;
    color: #dad7d7;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
  }
  @media (max-width: 768px) {
    .parrafohome {
        font-size: 1.1rem; 
        width: 250px;
        margin-top: 5%;
    }
}
  
  /* Imagen Sol */
  .solhome {
    max-width: 60%; /* Ajusta el tamaño para pantallas más grandes */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 0; /* Elimina los márgenes */
    filter: drop-shadow(0 7px 8px rgba(0, 0, 0, 0.5)); /* Añade una sombra */
    position: absolute; /* Posiciona la imagen de forma absoluta */
    bottom: 0; /* Coloca la imagen al final de la pantalla */
    right: 0; /* Alinea la imagen al borde derecho */
    top: 150px;
}

/* Ajustes para pantallas más pequeñas (mobile) */
@media (max-width: 768px) {
    .solhome {
        max-width: 70%; /* La imagen ocupa todo el ancho en pantallas pequeñas */
       
        margin-top: 390px; /* Mantén el margen superior */
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .solhome {
      max-width: 70%; /* Ajusta el tamaño para tablets */
      margin-top: -158px; /* Deja un poco más de espacio en la parte inferior */
  }
}


  
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
  }
  
  /*carrusel*/
  .carrusel{
    margin-top: 100px;
  }
  .parallax {
    background-image: url('src/img/textoadi4.png');
    height: 540px; /* Ajusta el tamaño que desees */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-item {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Capa semitransparente */
    z-index: 0; /* Coloca la capa por encima de la imagen */
  }
  .carousel-item img {
    z-index: 0; /* Imagen en el fondo */
  
  }
  .caption-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 0; /* Asegura que el texto esté por encima de la capa oscura */
    width: 100%;
  }
  .caption-content-home {
    padding: 20px;
    color: white;
    text-align: center;
  }

  .textocarruselhome{
    font-size: 30px;
    font-family: 'Colibre Bristole Pro', sans-serif;
                                                
                                                
  }
  .carousel-control-prev,
  .carousel-control-next {
    z-index: 1; /* Por encima de la superposición */
  }
  .carousel-item img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 400px; /* Puedes ajustar esta altura según tus necesidades */
    object-fit: cover; /* Corta la imagen para llenar el área sin deformarla */
  }
 
  .texto2carrusel{
    font-family: 'Hello Bonia Serif', sans-serif;
  }



                                       
