.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Para asegurar que cubra toda la pantalla */
  z-index: -1; /* Asegura que el video esté detrás del contenido */
  
}


/* Estilos para el formulario de login */
.login {
    background-color: #fff; /* Fondo blanco para el formulario */
    padding: 30px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    text-align: center; /* Centrar el texto */
    width: 300px; /* Ancho fijo del formulario */
    
  }
  
  /* Estilos para el título */
  .iniciarsesion {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Estilos para los inputs */
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Botones */
  .btnlog {
    background-color: #5c483a; /* Color de fondo similar al del botón en la imagen */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .btnlog:hover {
    background-color: #3e2631; /* Color más oscuro al pasar el ratón */
  }
  
  /* Estilo para el enlace de registro */
  a {
    color: #5c3a4b; /* Mismo color que el botón */
    text-decoration: none;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #5c483a;
  }
  p{
    color: #5c483a;
  }
