.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 1;
  width: 100%;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #fffffff5;
  padding: 10px;
  height: 70px;
}

.navbar.scrolled {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
}

.navbar.scrolled .menu-item {
  color: #484038;
}

.navbar.scrolled .search-input,
.navbar.scrolled .btnlogin, .navbar.scrolled .btn {
  color: #484038;
}

.navbar.scrolled .logonav {
  filter: invert(1);
}

.navbar-collapse {
  background-color: white; /* Color de fondo blanco para el menú colapsable */
}

/* Opcional: Estilos para los elementos del menú cuando están en el menú colapsable */
.navbar-collapse .nav-link {
  color: #000; /* Color del texto de los enlaces */
}

.navbar-collapse .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo en hover */
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu-item {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  border-radius: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.btn {
  padding: 0.3rem;
  color: #ffffff;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  margin: 2px;
  font-size: 70%;
  font-weight: 700;
}

.btnlogin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 60px;
  font-weight: 700;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: 1.5px solid black;
  font-size: 12px;
  margin-top: 8px;
}


.btnlogincuenta {
  color: #ffffff;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-top: 8px;
}

.btn:hover, .btnlogin:hover {
  background-color: #322b2584;
}

.actions {
  justify-content: end;
  justify-self: end;
}

.logonav {
  width: 80px;
  filter: invert(100);
}

.toggleContainer {
  position: relative;
  width: 280px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.language-toggle {
  position: absolute;
  width: 0;
  height: 0;
}

.language-toggle + .language-switch {
  position: relative;
  display: block;
  background: rgba(211, 211, 211, 0.434);
  width: 80px;
  height: 30px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.2s;
}

.language-toggle:checked + .language-switch {
  background: rgba(223, 217, 217, 0.308);
}

.language-toggle + .language-switch:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
  background: #000000;
  border-radius: 50%;
  margin: 0px 2px;
  left: 0%;
  transition: 1s;
}

.language-toggle:checked + .language-switch:before {
  left: 100%;
  transform: translate(calc(-100% - 2px), -50%);
}

.lang-label {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.5s;
}

.lang-label.es {
  left: 0;
}

.lang-label.en {
  right: 0;
}

.lang-label.active {
  opacity: 1;
}

.lang-label {
  opacity: 0;
}

/* Estilo para asegurar que el menú es responsivo */
@media (max-width: 768px) {
  .menu {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    gap: 0.5rem; /* Espaciado entre los elementos */
  }
  
  .navbar-collapse {
    padding: 1rem; /* Añadir padding al menú colapsable */
  }

  .navbar-toggler {
    margin-left: auto; /* Mueve el botón a la derecha */
  }
}
