/* Centrar el contenedor del formulario y ocupar toda la pantalla */
.login4 {
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar verticalmente */
  height: 110vh; /* Ocupa toda la altura de la ventana */
  background-color: #EBECF0; /* Fondo del contenedor */
}

/* Estilos del formulario */
.logn6 {
  padding: 16px;
  width: 320px;
  background-color: transparent; /* Fondo transparente para que se vea el fondo de la página */
  text-align: center;
}

/* Estilos para los inputs y el botón de registro */
.input.inRegi {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px; /* Bordes redondeados */
  padding: 16px;
  background-color: #EBECF0; /* Fondo de los inputs */
  text-shadow: 1px 1px 0 #FFF;
  margin-bottom: 16px; /* Espaciado inferior */
  width: 100%; /* Ocupa todo el ancho */
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; /* Sombra de entrada */
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

.input.inRegi:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; /* Efecto al enfocar */
}

.boton-registro {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; /* Sombra del botón */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: 320px; /* Bordes redondeados para el botón */
  padding: 16px;
  background-color: #EBECF0; /* Fondo del botón */
  width: 100%; /* Ocupa todo el ancho */
}

.boton-registro:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC; /* Efecto al pasar el ratón */
}

.boton-registro:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; /* Efecto al hacer clic */
}

.texto-registro {
  margin-top: 16px; /* Espacio superior */
  font-size: 14px; /* Tamaño de fuente */
}

.texto-registro a {
  color: #AE1100; /* Color del enlace */
  text-decoration: none; /* Sin subrayado */
}

.texto-registro a:hover {
  text-decoration: underline; /* Subrayar al pasar el ratón */
}
